.image1 {
    min-width: 280px;
    width: 36.5vw;
    max-width: 694px;
    aspect-ratio: 7 / 6;
    margin-top: 20px;
    margin-left: 5vw;
    background-image: url(../../images/download_img_1.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.image2 {
    max-width: 690px;
    width: 46.75vw;
    min-width: 280px;
    aspect-ratio: 46 / 25;
    margin-right: 10vw;
    border-radius: 0 14.5% 14.5% 0;
    background-image: url(../../images/download_img_2.svg);
    background-size: cover;
}

.image3 {
    max-width: 690px;
    width: 46.75vw;
    min-width: 280px;
    aspect-ratio: 46 / 25;
    margin-left: 10vw;
    border-radius: 14.5% 0 0 14.5%;
    background-image: url(../../images/download_img_3.svg);
    background-size: cover;
}

.marginVertical {
    margin: 20px 0;
}

.marginTop {
    margin-top: 20px;
}

.marginBottom {
    margin-bottom: clamp(100px, 12.5vw, 200px);
}