.postsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.post {
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 45%;
    margin-bottom: 20px;
    margin-top:50px;
}

.screenshotImage {
    width: 100%;
    height: auto;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 42px;
}

.screenshotInfo {
    padding: 15px;
}

.screenshotTitle {
    font-size: 18px;
    font-weight: bold;
}

.screenshotInfo p {
    margin: 5px 0;
    color: #797979;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.likeButton,
.dislikeButton {
    background-color: #1a1a1a; /* Green for Like */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.dislikeButton {
    background-color: #1b1b1b; /* Red for Dislike */
}
.line{
    width :100%;
}
