.button {
    display: flex;
    flex-direction: row;
    border-radius: 1.5vw;
    padding: 0.75vw 4vw 0.75vw 4vw;
    align-items: center;
    justify-content: center;
    font-size: clamp(14px, 0.94vw, 18px);
}

.black {
    background-color: #1C1C1C;
}

.gray {
    background-color: #777777;
}

.widthFitContent {
    width: fit-content;
}

.button:hover {
    cursor: pointer;
}

.downloadIcon {
    height: 1.2vw;
    width: 1.2vw;
    margin-right: 0.75vw;
    background-image: url('../images/download_white_icon.png');
    background-size: cover;
}