.footerDiv {
    height: fit-content;
    width: 70vw;
    margin: 10vw 5vw 5vw 5vw;
    background-color: none;
    font-family: 'Mulish' sans-serif;
    font-size: 1vw;
    font-weight: 600;
    color: #1C1C1C;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between; 
  }
  
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between; 
}

.interactive {
    margin-bottom: 0.75vw;
}

.interactive:hover {
    color: gray;
    cursor: pointer;
}

.logo {
    height: 30px;
    width: 100px;
    background-color: gray;
}

.social {
    height: 2vw;
    width: 2vw;
    margin-right: 0.75vw;
    background-size: cover;
}

.instagram {
    background-image: url(../images/instagram_icon.png);
}

.facebook {
    background-image: url(../images/facebook_icon.png);
}

.youtube {
    background-image: url(../images/youtube_icon.png);
}

.x {
    background-image: url(../images/x_icon.png);
}

.fontWeight700 {
    font-weight: 700;
  }