.container {
    height: fit-content;
    width: 90vw;
    margin: clamp(20px, 2.5vw, 40px) 5vw;
}

.minWidth {
    min-width: 280px;
}

/* MARGIN */

.margin10 {
    margin: 10px;
}

.marginVertical10 {
    margin: 10px 0;
}

.marginHorizontal10 {
    margin: 0 10px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginBottom10 {
    margin-bottom: 10px;
}

.marginLeft10 {
    margin-left: 10px;
}

.margin20 {
    margin: 20px;
}

.marginVertical20 {
    margin: 20px 0;
}

.marginHorizontal20 {
    margin: 0 20px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginRight20 {
    margin-right: 20px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginLeft20 {
    margin-left: 20px;
}

/* GRID */

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.justifyStart {
    justify-content: start;
}

.justifyCenter {
    justify-content: center;
}

.alignStart {
    align-items: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyEvenly {
    justify-content: space-evenly;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.dynamic {
    flex: 1;
}

.wrap {
    flex-wrap: wrap;
}

.wrapReverse {
    flex-wrap: wrap-reverse;
}