.columnLeft {
    height: fit-content;
    width: 25%;
    margin-right: 1vw;
    border-top: solid 1px #1C1C1C;
    background-color: none;
}

.columnRight {
    height: fit-content;
    width: 50%;
    background-color: lightcoral;
}

.category {
    border-top: solid 1px #1C1C1C;
    border-bottom: solid 1px #1C1C1C;
    padding: 0.75vw 0.375vw;
}

.interactive:hover {
    color: gray;
    cursor: pointer;
}

.friends {
    border-top: solid 1px #1C1C1C;
}

.friendElement {
    margin: 0.5vw 0;
}

.avatar {
    height: 2vw;
    width: 2vw;
    margin: 0 1vw 0 0.375vw;
    background-color: gray;
    justify-self: center;
    align-self: center;
}