.promptDiv {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 90%;
  margin: 5vw 5vw 10vw 5vw;
  background-color: none;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: space-between; 
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: space-between; 
  height: 20vw;
}

.decorativeSquares {
  height: 6.6vw;
  width: 11.1vw; 
  background-image: url('../images/squares.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.image {
  height: 20vw;
  width: 75%;
  border-radius: 5.2vw 0 0 5.2vw;
  background-color: gray;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  align-self: flex-end;
}