@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

.textBlack {
    color: #1C1C1C;
    font-family: 'Mulish' sans-serif;
}

.textGray {
    color: #777777;
    font-family: 'Mulish' sans-serif;
}

.textWhite {
    color: #FFFFFF;
    font-family: 'Mulish' sans-serif;
}

.fontWeight200 {
    font-weight: 200;
}

.fontWeight600 {
    font-weight: 600;
}

.fontWeight700 {
    font-weight: 700;
}

.fontWeight800 {
    font-weight: 800;
}

.textSmallest {
    font-size: clamp(12px, 0.73vw, 14px);
}

.textSmall {
    font-size: clamp(14px, 0.94vw, 18px);
}

.textMediumSmall {
    font-size: clamp(18px, 1.3vw, 25px);
}

.textMedium{
    font-size: clamp(25px, 2.35vw, 45px);
}

.textLarge {
    font-size: clamp(43px, 6.66vw, 128px);
}

.textAlignLeft {
    text-align: left;
}

.textAlignCenter {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}
  
.textVertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg); 
}

.textUppercase {
    text-transform: uppercase;
}