.space {
    max-height: 160px;
    height: 16.25vw;
    min-height: 80px;
}

.feature {
    display: flex;
    flex-direction: row;
}

.imageLeft {
    flex: 1;
    max-height: 420px;
    min-height: 280px;
    max-width: 860px;
    min-width: 280px;
    aspect-ratio: 1 / 1;
    border-radius: 0 clamp(72.54px, 9vw, 100px) clamp(72.54px, 9vw, 100px) 0;
    background-image: url('https://sm.ign.com/ign_in/news/h/how-covid-/how-covid-19-virtualized-gaming-events-and-local-communities_9ghw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imageLeft1 {
    flex: 1;
    max-height: 420px;
    min-height: 280px;
    max-width: 860px;
    min-width: 280px;
    aspect-ratio: 1 / 1;
    border-radius: 0 clamp(72.54px, 9vw, 100px) clamp(72.54px, 9vw, 100px) 0;
    background-image: url('https://media.gq-magazine.co.uk/photos/645b5c3c8223a5c3801b8b26/16:9/w_2560%2Cc_limit/100-best-games-hp-b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.textLeft {
    flex: 1;
    max-width: 580px;
    min-width: 280px;
    margin-left: 20px;
}

.imageRight {
    flex: 1;
    max-height: 420px;
    min-height: 280px;
    max-width: 860px;
    min-width: 280px;
    aspect-ratio: 1 / 1;
    border-radius: clamp(72.54px, 9vw, 100px) 0 0 clamp(72.54px, 9vw, 100px);
    background-image: url('https://sm.ign.com/ign_in/news/h/how-covid-/how-covid-19-virtualized-gaming-events-and-local-communities_9ghw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.imageRight2 {
    flex: 1;
    max-height: 420px;
    min-height: 280px;
    max-width: 860px;
    min-width: 280px;
    aspect-ratio: 1 / 1;
    border-radius: clamp(72.54px, 9vw, 100px) 0 0 clamp(72.54px, 9vw, 100px);
    background-image: url('https://img.freepik.com/premium-photo/young-gamer-playing-video-games-home-he-is-sitting-comfortable-chair-using-keyboard-mouse_14117-107215.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.textRight {
    flex: 1;
    max-width: 580px;
    min-width: 280px;
    margin-right: 20px;
}

@media only screen and (max-width: 630px) {
    .feature { flex-direction: column; }
    .textLeft { margin: 20px 0 0 0; }
    .textRight { margin: 20px 0 0 0; }
}

.video {
    aspect-ratio: 16 / 9;
    border-radius: clamp(10px, 1.875vw, 20px);
}