.column {
    flex: 1;
    min-width: 280px;
}

.profileAvatar {
    height: 21.875vw;
    max-height: 420px;
    min-height: 280px;
    width: 21.875vw;
    max-width: 420px;
    min-width: 280px;
    margin: 0 20px 15px 0;
    border-radius: 0 100px 100px 0;
    background-color: #D9D9D9;
}

.profileInfo {
    margin-bottom: 6vw;
}

.marginVertical {
    margin: 15px 0;
}
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popupTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textArea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    resize: none;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}