.column {
    width: 49.5%;
}

.upperLine {
    border-top: solid 2px #777777;
}

.category {
    border-bottom: solid 2px #777777;
    padding: 1vw 0.375vw;
}

.interactive:hover {
    color: gray;
    cursor: pointer;
}

.friendElement {
    margin: 20px 0;
}

.friendAvatar {
    height: 40px;
    width: 40px;
    margin: 0 1vw 0 0.375vw;
    border-radius: 5px;
    background-color: #D9D9D9;
    justify-self: center;
    align-self: center;
}