.category {
    border-top: solid 2px #777777;
    border-bottom: solid 2px #777777;
    padding: 1vw 0.375vw;
}

.groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.group {
    flex: 1;
    min-width: 280px;
    margin-top: 20px;
}

.interactive:hover {
    color: gray;
    cursor: pointer;
}