.column {
    width: 50%;
}

.marginRight {
    margin-right: 20px;
}

.upperLine {
    border-top: solid 2px #777777;
}

.category {
    border-bottom: solid 2px #777777;
    padding: 1vw 0.375vw;
}

.interactive:hover {
    color: gray;
    cursor: pointer;
}